* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}



body {
  background-image: linear-gradient(-20deg,
      royalblue,
      rgb(8, 29, 92),
      indigo,
      rgb(82, 4, 82));
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  align-content: center;
}

.feedback-container {
  background: transparent;

  padding: 30px;
  border-radius: 1rem;
  box-shadow: 0rem 0rem 1.5rem rgba(255, 255, 255, 0.2),
    -0rem -0rem 1.5rem rgba(255, 255, 255, 0.2);
  max-width: 400px;
  width: 85%;
  margin: 1rem;
  margin-bottom: 10rem;
}

.feedback-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: x-large;
  color: rgb(222, 121, 7);
  font-family: "Times New Roman", Times, serif;
}




.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  font-size: normal;
  margin-bottom: 1rem;
  color: white;
}

.input-group input,
.input-group select,
.input-group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #363232;
  font-size: 14px;
  transition: border-color 0.3s;
  text-align: center;
}

.input-group input:focus,
.input-group select:focus,
.input-group textarea:focus {
  border-color: #fd9843;
  outline: none;
}

.input-group select {
  appearance: none;
  background: #f6f6f6;
  cursor: pointer;
}

.input-group textarea {
  resize: none;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  background-color: #ff8521;
  color: rgb(222, 214, 214);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s;

}

.submit-btn:hover {
  background-color: #dd5a23;
cursor: pointer;
}






#author h1{
  color: rgb(222, 121, 7);
  font-family: cursive;

}